<div id="new_friend_form">
  <img src= <%= @photo %> >
  <%= form_for :new_friend, url: user_friends_path(current_user.id), html: {id: "add_friend_form", name: 'new_friend'} do |f| %>
    <p>
      <%= f.label :first_name %>
      <span>
      <%= f.text_field :first_name, value: @friend['first_name'] %>
      </span>
    </p>
    <p>
      <%= f.label :last_name %>
      <span>
      <%= f.text_field :last_name, value: @friend['last_name'] %>
      </span>
    </p>
    <p>
      <%= f.label :birthday %>
      <span>
      <%= f.text_field :birthday, value: @friend['birthday'] %>
      </span>
    </p>
      <%= f.hidden_field :photo_url, value: @photo %>
      <%= f.hidden_field :uid, value: @friend['id'] %>
    <p>
      <%= f.button 'submit friend' %>
    </p>
  <% end %>
</div>

<div>
  <ul id="errors_list">
  </ul>
</div>
