<div id='edit_profile_div'>
  <%= form_for @friend do |f| %>
    <p>First Name <span><%= f.text_field :first_name, value: @friend.first_name %></span></p>
    <p>Last Name  <span><%= f.text_field :last_name, value: @friend.last_name %></span></p>
    <p>Email      <span><%= f.text_field :email, value: @friend.email %></span></p>
    <p>Birthday   <span><%= f.text_field :birthday, value: @friend.birthday %></span></p>
    <p>Phone Number <span><%= f.text_field :phone_number, value: @friend.phone_number %></span></p>
    <p><span><%= f.button 'Submit Changes' %></span></p>
  <% end %>
</div>
