<div class="user_header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="">NTouch</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Home</a></li>
                <li><%= link_to "Reminders", user_events_path(current_user) %></a></li>
                <li><%= link_to "Sign out", '/logout' %></a></li>
            </ul>
        </div>
    </div>
<div id="event_page_header">
  
<h1>Manage all of your reminders here</h1>
</div>

<div id="friend_events_panel">
  <% if current_user.friends %>
    <% current_user.friends.each do |friend| %>
    <div class='manage_friend_container'>
      <p class='manage_friend_paragraph'><%= image_tag(friend.photo_url) %><br><%= friend.first_name  + " " + friend.last_name %></p>
        <ul id='event_list'>Events:
          <% friend.events.each do |event| %>
            <li class='individual_event'><%= link_to event.description, friend_event_path(friend, event) %></li>
          <% end %>
          <li><button class='btn-warning'
            href='/friends/<%= friend.id %>/events/new'>Create New Event</button></li>
        </ul>
    </div>
    <% end %>
  <% end %>
</div>

<!-- THIS IS TARGETED BY JAVASCRIPT -->
<div id='event_form_panel'>
  To create a new event, click on the 'create new event' button. To edit an event, click on the list item.
  <p style='display: none' id='form_selector'>Type of Event
    <span>
      <%= select_tag("Event Type", options_for_select(["","Annual", "Frequent"])) %>
    </span>
  </p>
  <div id='saved_message'>
    <% if @saved_message %>
      <%= @saved_message %>
    <% end %>
  </div>

  <div>
    <ul id="errors_list">
    </ul>
  </div>
</div>
