<div class="container">
<div class="navbar navbar-inverse">
          <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
          <a class="brand" href="index.html"><%=image_tag("n.png") %> NTouch</a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li><a href="/">Home</a></li> 
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Profile<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "User Profile", user_path(current_user) %></li>  
                            <li><%= link_to "Manage Friends", user_friends_path(current_user) %></li>
                            <li><%= link_to "Manage Events", user_events_path(current_user) %></li>
                            <li><%= link_to "Edit Profile", user_settings_path(current_user) %></li>
                        </ul>
                      </li>
                    <li ><a href="/logout">Logout</a></li>
                  </ul>
                </div>
            </div>
          </div> 
</div>
<div id='edit_profile_div'>
  <%= form_for current_user, url: user_path(current_user), html: {name: 'update_user'} do |f| %>
    <p>First Name <span><%= f.text_field :first_name, value: current_user.first_name %></span></p>
    <p>Last Name  <span><%= f.text_field :last_name, value: current_user.last_name %></span></p>
    <p>Email      <span><%= f.text_field :email, value: current_user.email %></span></p>
    <p>Birthday   <span><%= f.text_field :birthday, value: current_user.birthday %></span></p>
    <p>Phone Number <span><%= f.telephone_field :phone_number, value: current_user.phone_number %></span></p>
    <p>Time Zone <span><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></span></p>
    <p><span><%= f.button 'Submit Changes' %></span></p>
  <% end %>
  <div id='saved_message'>
    <% if @saved_message %>
      <%= @saved_message %>
    <% end %>
  </div>
</div>

<div>
  <ul id="errors_list">
  </ul>
</div>
