<h1 style="margin-top:100px"> User Page </h1>

<div id='user_profile_nav'>
 <ul id='prof_nav_list'>
   <li><%= link_to "User Profile", user_path(current_user) %></li>
   <li><%= link_to "Manage Friends", user_friends_path(current_user) %></li>
   <li><%= link_to "Manage Events", user_events_path(current_user) %></li>
   <li><%= link_to "Edit Profile", user_settings_path(current_user) %></li>
 </ul>
</div>

<div id="user_summary_container">
  <div id="user_picture_div">
    <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large" %>
  </div>
  <div id="user_game_stats">
    <ul>
      <li>Tracked Friends: <span><%= current_user.friends.count %></span></li>
      <li>Recurring Events: <span><%= current_user.friends.count %></span></li>
      <li>Reminders Sent: <span><%= current_user.friends.count %></span></li>
      <li>Reminders Completed: <span><%= current_user.friends.count %></span></li>
      <li>Total Score: <span><%= current_user.friends.count %></span></li>
      <li>Friend Ranking: <span><%= current_user.friends.count %></span></li>
    </ul>
  </div>
</div>

<div id="user_page_container">
  <div id="header_for_photo_list">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <% if current_user.friends.count >= 10 %>
    <h1> You have reached your friend limit. Make sure that you set up your notifications!</h1>
    <% end %>
    <% if current_user.friends.count <= 8 %>
      <% if current_user.friends.count == 1 %>
        <h1>You have selected <%= current_user.friends.count %> friend. You can add <%= 10 - current_user.friends.count %> more friends!</h1>
      <% else %>
        <h1>You have selected <%= current_user.friends.count %> friends. You can add <%= 10 - current_user.friends.count %> more friends!</h1>
      <% end %>
    <% elsif current_user.friends.count >= 10 %>
      <h1>You have selected <%= current_user.friends.count %> friends.</h1>
    <% end %>
  </div>

  <div id='photo_list_div'>
    <ul >
      <% if current_user.friends %>
      <% current_user.friends.each do |friend| %>
      <li class='photo_button_list'>
        <%= image_tag(friend.photo_url, {class: 'landing_page_photo_button'}) %>
        <br>
        <%= friend.first_name  + " " + friend.last_name %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div id="friend_graph_div" >
  <%= render partial: 'friend_graph' %>
</div>

<div id="friend_event_div" >
  <%= render partial: 'friend_events' %>
</div>
