<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

<div id='user_profile_nav'>
 <ul id='prof_nav_list'>
   <li><%= link_to "User Profile", user_path(current_user) %></li>
   <li><%= link_to "Manage Friends", user_friends_path(current_user) %></li>
   <li><%= link_to "Manage Events", user_events_path(current_user) %></li>
   <li><%= link_to "Edit Profile", user_settings_path(current_user) %></li>
 </ul>
</div>


<div>
    <div class="user_header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="">NTouch</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Home</a></li>
                <li><%= link_to "Reminders", user_events_path(current_user) %></a></li>
                <li><%= link_to "Sign out", '/logout' %></a></li>
            </ul>
        </div>
    </div>

    <div class="pure-g-r">
        <div class="pure-u-1-3 photo-box">
            <a href="#">
                <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large" %>
            </a>
            <aside class="photo-box-caption">
                Me
            </aside>
        </div>

        <div class="pure-u-2-3 text-box">
            <div class="l-box">
                <h1 class="text-box-head">Stay in touch with those who mean the most</h1>
                <p class="text-box-subhead">and never miss another important moment.</p>
                <% if flash[:notice] %>
                  <%= flash[:notice] %>
                <% if current_user.friends.count >= 10 %>
                <p> You have reached your friend limit. Make sure that you set up your notifications!</p>
                <% end %>
                <% end %>
                <p>You have selected <%= current_user.friends.count %> friends. You can add <%= 10 - current_user.friends.count %> more.<span><%= link_to "Search Friends", user_friends_path(current_user) %></p>
            </div>
              

        </div>

        <% if current_user.friends %>
        <% current_user.friends.each do |friend| %>
        <div class="pure-u-1-3 photo-box">
          <%= image_tag(friend.photo_url) %>
            </a>
            <aside class="photo-box-caption">
              <%= friend.first_name  + " " + friend.last_name %>
            </aside>
        </div>
        <% end %>
        <% end %>
    </div>

    <div class="user_footer">
        Coded with love in Chicago.
    </div>
</div>
