<div id="form_to_update_event">

  <h2>Update <%= @friend.first_name %>'s <%= @event.description %><%= button_to 'delete event', friend_event_path(@friend, @event), method: 'delete' %></h2>

  <%= form_for ([@friend, @event]) do |f| %>
  <!-- I'm wondering if we'll need a new model for the text/email fields... -->
  <p>
   <%= f.label :description %>
   <span>
     <%= f.select :description, options_for_select(["Birthday", "Wedding", "Anniversary", "Party", "Other"], @event.description ) %>
   </span>
 </p>
 <%= f.label :date %>
 <span>
  <%= f.date_field :date, value: @event.date if @event %>
</span>
<p>
 <%= f.label :notification_date %>
 <span>
   <%= f.datetime_local_field :notification_date, value: @event.notification_date %>
 </span>
</p>
<p>
  <%= f.label :frequency %>
  <span>
    <%= f.select( :frequency, options_for_select(["Once", "Weekly", "Bi-weekly", "Monthly", "Quarterly", "Bi-annually"], @event.frequency)) %>
  </span>
</p>
<p>
  <%= f.label "Select type of notification" %>
  <span>
    <%= f.select :notificationtype, options_for_select(["Text Message", "Email", "Both"], @event.notificationtype ) %>
  </span>
</p>
<p>
 <%= f.button "Update Event" %>
</p>
<% end %>
</div>

